ul,li{
  list-style: none;
  padding:0;
}
img{
  max-width: 100%;
}

.NineIcon{
  padding-left:10px;
  padding-right:10px;
}
.NineIcon p{
  margin-bottom: 0;
  font-size: 12px;
}
.NineIcon img{
  width: 58px;
}

.FourAddTwoBtn{
  padding-left: 10px;
  padding-right: 10px;
}
.FourAddTwoBtn h3{
  margin: 0.3em 0 0.5em;
}
.FourAddTwoBtn .ant-col-12{
  margin-bottom: 10px;
}
.FourAddTwoBtn .ant-col-24{
  margin-bottom: 10px;
}
.FourAddTwoBtn .ant-btn{
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  /*height: 26px;*/
}
.EightPart .ant-card-body{
  padding: 5px 10px;
}
.EightPart.FourAddTwoBtn p{
  margin: 0;
}
.TenPart .ant-card-body{
  padding: 6px 10px 3px;
}
.TenPart.FourAddTwoBtn h2{
  margin: 0;
  font-size: 1.2em;
  font-weight: normal;
}
.TenPart.FourAddTwoBtn .ant-card{
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}
.TwelvePart .ant-list-bordered{
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}
.ThirteenPart.TenPart .ant-card-body{
  padding: 6px 5px 3px;
}
.footer h3{
  margin-top: 0.3em;
  font-size: 0.9em;
  margin-bottom: 0.3em;
  padding-left: 10px;
  padding-right: 10px;
}
.HotListParent .ant-radio-button-wrapper:last-child{
  border-radius: 0;
}
.HotListParent .ant-radio-button-wrapper:first-child{
  border-radius: 0;
}
.HotListParent .ant-radio-button-wrapper:first-child:last-child{
  border-radius: 0;
}
.HotList{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;
  height: 568px;
}
@media all and (min-width: 374px){
  .HotList{
    height: 665px;
  }
}
.HotList .ant-card-body{
  padding:10px;
}
.HotList p{
  margin:0;
}
.HotList .ant-list-item{
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
.demo-loading {
  position: absolute;
  bottom: -40px;
  left: 50%;
}
.ant-modal-body{
  padding: 10px;
}
.DropdownBtn{
  padding-top: 64px;
}
.DropdownBtn .ant-select-selection{
  border-radius: 0;
}
.DetailsList a{
  color: #000;
}
.DetailsList p{
  font-size: 12px;
}
.DetailsList h4{
  margin-bottom: 3px;
}
.DegList .ant-list-vertical .ant-list-item-content{
  margin-bottom: 2px;
}
.Interfix .ant-card-body{
  padding: 0 0 0 5px;
}
.Interfix h5{
  margin-top: .5em;
}





.submit-form{
  padding-left: 10px;
  padding-right: 10px;
}
.submit-form .ant-input{
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}
.submit-form .ant-btn{
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}
.submit-form .ant-form-item{
  margin-bottom: 0;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
  display: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  width: 100%;
  /*background: #fff;*/
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-menu a{
  line-height: 3;
  border-bottom: 1px solid;
  color: #b8b7ad;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
